body {
    font-family: Arial, sans-serif;
    background-color: #061A40;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita desbordamiento horizontal */
}

header {
    width: 100%;
    background-color: #003559; /* Color de fondo para el header */
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 70px; /* Ajusta la altura del logo */
    width: auto; /* Mantiene la proporción del logo */
}

html{
    background-color: #000;
}

.menu-icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 70px; /* Ajusta la posición del contenedor */
    z-index: 1000;
}

.menu-icon {
    height: 30px;
    width: auto;
}

.menu-text {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.menu-icon-container:hover .menu-text {
    color: #ccc; /* Cambia el color al pasar el mouse */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1400;
}

.side-menu {
    width: 250px; /* Reduce el ancho del menú para una apariencia más elegante */
    height: 100%;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #000;
    color: white;
    padding: 50px 20px;
    box-sizing: border-box;
    z-index: 1500;
    transition: right 0.5s;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.menu li a:hover {
    color: #ccc;
}

.bienvenido-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 5px 0; /* Agrega algo de espacio vertical sin exagerar */
    margin-top: 100px; /* Ajusta este valor según sea necesario para alinear bajo el header */
    /*width: 80%;*/
    /*max-width: 1200px;
    min-width: 300px; /* Ancho mínimo */
    height: 60px;
    max-height: 60px; /* Altura máxima */
}

h2 {
    font-family: 'Georgia', serif; /* Usa Georgia como fuente principal */
    color: #B9D6F2; /* Color de texto claro */
    font-size: 36px; /* Tamaño de la fuente más grande */
    text-align: center; /* Asegura que el texto esté centrado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra sutil para el texto */
    margin: 20px 0; /* Ajusta el margen para definir el espacio alrededor del texto */
}

.vanguardia-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Usa space-between para separar los elementos */
    background-color: #003559;
    color: #ffffff;
    padding: 40px 20px; /* Aumenta el padding para mayor espacio */
    margin-top: 30px; /* Ajuste para compensar el header fijo */
}

.vanguardia-header {
    width: 40%; /* Ajusta según necesidad */
}

.vanguardia-content {
    display: flex;
    width: 50%; /* Ajusta según necesidad */
    justify-content: space-between; /* Distribuye las imágenes uniformemente */
    margin-bottom: 30px;
}

/*.vanguardia-content img {
    width: calc(33.333% - 10px); /* Tres imágenes, espacio entre ellas */
   /* margin: 0 5px; /* Margen para separar las imágenes */
/*}
*/
h3, p, h2 {
    color: white; /* Asegura la visibilidad del texto */
}
#carouselExampleIndicators {
    max-width: 600px;
    max-height: 300px;
    margin-left: 50px; /* Centra el carrusel horizontalmente */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #carouselExampleIndicators .carousel-inner {
    max-height: 400px;
  }
  #carouselExampleIndicators .carousel-inner img {
    object-fit: cover;
    height: 100%;
  }
footer{
    background-color: #000;
}

footer div{
    display: flex;
    flex-direction: row;
    margin-left: 360px;
    padding-top: 20px;
}
#iconoface{
    width: 25px;
    height: 25px;
    margin-left: 30px;
}
#p2{
    margin-left: 30px;
}
#iconosmenu{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}