.menu {
    list-style: none;
    padding: 0;
    background: #003559; /* Fondo azul oscuro para el menú */
    margin: auto;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    border-bottom: 4px solid #B9D6F2; /* Línea inferior para un toque elegante */
}

.menu li {
    text-align: center;
    position: relative; /* Necesario para la posición absoluta del contenido desplegable */
}

.menu li a {
    text-decoration: none;
    color: #B9D6F2; /* Letras blanco para contrastar */
    padding: 15px 20px; /* Espaciado interno */
    display: block;
    transition: color 0.3s; /* Transición suave */
}

.menu li a:hover {
    color: #ffc107; /* Cambio de color al pasar el mouse */
}

/* Estilos para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #003559; /* Fondo a juego con el menú principal */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px; /* Ajustar según el contenido */
}

.dropdown-content a {
    color: #B9D6F2; /* Letras blanco para contrastar */
    padding: 12px 16px; /* Espaciado similar al menú principal */
    text-decoration: none;
    display: block; /* Ocupar todo el ancho para el clic */
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #0275d8; /* Un azul más claro al pasar el mouse */
}

/* Mostrar el contenido desplegable al pasar el mouse */
.menu li:hover .dropdown-content {
    display: block;
}
