
html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #061A40;
  }

header h1 {
    color: #B9D6F2;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}


h2 {
    color: #B9D6F2;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

.centered-container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin: 20px; 
}

.input-group {
    width: 100%; 
    max-width: 500px; 
    margin: 20px auto; 
}

.input {
    width: 100%; 
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #B9D6F2;
    color: #0d0c22;
    box-shadow: 0 0 5px #B9D6F2, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
}  
  .input::placeholder {
    color: #171717;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #171717;
    width: 1rem;
    height: 1rem;
  }

  
  /* Estilos para la tabla */
  #sociosTable {
    width: 100%;
    max-width: 80%; /* Reduce el ancho máximo de la tabla */
    border-collapse: collapse;
    margin: 20px auto; /* Centra la tabla y añade espacio arriba y abajo */
}

#sociosTable th, #sociosTable td {
    text-align: left; /* Alineación del texto */
    padding: 12px; /* Espaciado interno */
    border-bottom: 2px solid #0353A4; /* Línea dorada en el borde inferior */
}

#sociosTable thead {
    background-color: #0353A4; /* Fondo azul */
    color: #B9D6F2; /* Letras en azul clarito */
}

#sociosTable th {
    font-size: 16px; /* Tamaño de letra para encabezados */
}

#sociosTable td {
    background-color: #B9D6F2; /* Fondo azul clarito para las celdas */
    color: #003559; /* Texto en azul oscuro */
}

#sociosTable tbody tr:hover {
    background-color: #006DAA; /* Cambio de color al pasar el cursor */
    color: #B9D6F2; /* Letras en azul clarito al pasar el cursor */
}
  
  
  
  
  