/* Título principal del club */
html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #061A40;
  }
.title-bar {
   
    color: #B9D6F2; /* Color de texto claro */
    padding: 0px 0; /* Espaciado vertical */
    text-align: center; /* Centrado de texto */
    margin: 0; /* Eliminar márgenes */
    font-size: 24px; /* Tamaño de la fuente para que sea visible */
}

/* Contenedor del menú con estilo específico */
.menu-container {
    /* Color de fondo más oscuro para el menú */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra para darle profundidad */
    padding: 5px 0; /* Espaciado vertical para el menú */
}

/* Estilos para el menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    text-align: center;
    padding: 0 20px; /* Espaciado entre elementos del menú */
}

.menu li a {
    text-decoration: none;
    color: #B9D6F2; /* Letras en color claro para contrastar con el fondo */
    display: block;
    transition: color 0.3s; /* Transición suave al cambiar de color */
}

.menu li a:hover {
    color: #ffc107; /* Color al pasar el mouse */
}

/* Estilos para el título "Perfil del Socio" */
.h2-titulo-socio {
    /* Fondo azul oscuro, igual que el título principal */
    color: #B9D6F2; /* Color de texto claro */
    text-align: center; /* Centrado del texto */
    font-size: 38px; /* Aumento del tamaño de la fuente */
    padding: 10px 0; /* Espaciado vertical para más visibilidad */
    margin-top: 20px; /* Margen superior para separar del menú */
    width: 100%; /* Asegura que el fondo cubra el ancho completo */
}
/* Estilos para el contenedor del perfil del socio */
.perfil-container {
    background-color: #B9D6F2; /* Fondo azul claro para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px auto; /* Margen superior e inferior automático y centrado horizontal */
    padding: 30px; /* Espaciado interno */
    max-width: 600px; /* Ancho máximo del contenedor */
    align-items: center;
    justify-content: center; /* Centrado horizontal */
}

/* Estilo de la imagen del perfil */
.perfil-avatar img {
    width: 80px; /* Ancho de la imagen reducido */
    height: 80px; /* Altura de la imagen reducida */
    border-radius: 50%; /* Hacer la imagen circular */
    text-align: center;
}

/* Estilos para el formulario */
.perfil-info {
    margin-left: 20px; /* Margen izquierdo para separar del avatar */
}

.info-campo {
    margin-bottom: 20px; /* Espaciado entre campos */
}

.info-campo label {
    display: block;
    font-weight: bold; /* Negrita para las etiquetas */
    margin-bottom: 5px;
    color: #003559; /* Color del texto de las etiquetas */
}

.info-campo input {
    width: calc(100% - 20px); /* Ancho del input reducido para tener en cuenta el margen izquierdo */
    padding: 10px;
    border: 1px solid #006DAA; /* Borde sutil en el color principal */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f5f5f5; /* Fondo gris claro para los inputs */
    color: #333; /* Color del texto principal */
}

/* Estilos para los botones */
.botones {
    text-align: center; /* Alineación centrada */
}

.botones button {
    padding: 10px 20px;
    color: #B9D6F2; /* Texto en color blanco */
    background-color: #006DAA; /* Fondo azul para botones */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cursor como puntero para indicar interactividad */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

.botones button:hover {
    background-color: #003559; /* Cambio de color al pasar el mouse */
}